html {
    background-color: rgb(230, 230, 230);
}

body {
    text-align: justify;
    width: 21cm;
    text-align: justify;
    margin-top: 1%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2%;
    background-color: rgb(230, 230, 230);
}

div {
    margin-top: 10px;
}

footer {
    margin-top: 30px;
}

.copyright {
    text-align: center;
}

.links {
    text-align: center;
    margin: 0;
}

.i {
    font-style: italic;
}

h1 {
    text-align: center;
}

nav {
    align-items: center;
    text-align: center;
}

footer {
    text-align: justify;
    align-items: justify;
}