body {
    text-align: justify;
    height: 29.7cm;
    width: 21cm;
    text-align: justify;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

div {
    margin-top: 50px;
}

h1 {
    text-align: center;
}

.send {
    text-align: right;
}

footer {
    text-align: justify;
    align-items: justify;
}